Site/Connected Services/ClinicaServiceReference/DAL.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DAL" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DAL" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Medicos_TB">
    <xs:sequence>
      <xs:element minOccurs="0" name="Doctor_Empleado_ID" type="xs:int" />
      <xs:element minOccurs="0" name="Empleados_TB" nillable="true" type="tns:Empleados_TB" />
      <xs:element minOccurs="0" name="Numero_Carne" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Medicos_TB" nillable="true" type="tns:Medicos_TB" />
  <xs:complexType name="Empleados_TB">
    <xs:sequence>
      <xs:element minOccurs="0" name="Empleado_ID" type="xs:int" />
      <xs:element minOccurs="0" name="Empleado_Usuario_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Medicos_TB" nillable="true" type="tns:ArrayOfMedicos_TB" />
      <xs:element minOccurs="0" name="Usuarios_TB" nillable="true" type="tns:Usuarios_TB" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Empleados_TB" nillable="true" type="tns:Empleados_TB" />
  <xs:complexType name="ArrayOfMedicos_TB">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Medicos_TB" nillable="true" type="tns:Medicos_TB" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMedicos_TB" nillable="true" type="tns:ArrayOfMedicos_TB" />
  <xs:complexType name="Usuarios_TB">
    <xs:sequence>
      <xs:element minOccurs="0" name="Apellidos" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Clientes_TB" nillable="true" type="tns:ArrayOfClientes_TB" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Empleados_TB" nillable="true" type="tns:ArrayOfEmpleados_TB" />
      <xs:element minOccurs="0" name="Fecha_Nacimiento" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telefono" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tipo_Perfil" type="xs:short" />
      <xs:element minOccurs="0" name="Tipos_Perfiles_TB" nillable="true" type="tns:Tipos_Perfiles_TB" />
      <xs:element minOccurs="0" name="Usuario_ID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Usuarios_TB" nillable="true" type="tns:Usuarios_TB" />
  <xs:complexType name="ArrayOfClientes_TB">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Clientes_TB" nillable="true" type="tns:Clientes_TB" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClientes_TB" nillable="true" type="tns:ArrayOfClientes_TB" />
  <xs:complexType name="Clientes_TB">
    <xs:sequence>
      <xs:element minOccurs="0" name="Citas_TB" nillable="true" type="tns:ArrayOfCitas_TB" />
      <xs:element minOccurs="0" name="Cliente_ID" type="xs:int" />
      <xs:element minOccurs="0" name="Cliente_Usuario_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tarjetas_TB" nillable="true" type="tns:ArrayOfTarjetas_TB" />
      <xs:element minOccurs="0" name="Usuarios_TB" nillable="true" type="tns:Usuarios_TB" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Clientes_TB" nillable="true" type="tns:Clientes_TB" />
  <xs:complexType name="ArrayOfCitas_TB">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Citas_TB" nillable="true" type="tns:Citas_TB" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCitas_TB" nillable="true" type="tns:ArrayOfCitas_TB" />
  <xs:complexType name="Citas_TB">
    <xs:sequence>
      <xs:element minOccurs="0" name="Agenda_TB" nillable="true" type="tns:ArrayOfAgenda_TB" />
      <xs:element minOccurs="0" name="Cita_Cliente_ID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Cita_Consultorio_ID" nillable="true" type="xs:short" />
      <xs:element minOccurs="0" name="Cita_Fact_ID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Cita_ID" type="xs:int" />
      <xs:element minOccurs="0" name="Cita_ME_ID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Cita_MP_ID" nillable="true" type="xs:short" />
      <xs:element minOccurs="0" name="Clientes_TB" nillable="true" type="tns:Clientes_TB" />
      <xs:element minOccurs="0" name="Consultorio_TB" nillable="true" type="tns:Consultorio_TB" />
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Facturas_TB" nillable="true" type="tns:Facturas_TB" />
      <xs:element minOccurs="0" name="Fecha" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Fecha_Finalizacion" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Medicos_Especialidades_TB" nillable="true" type="tns:Medicos_Especialidades_TB" />
      <xs:element minOccurs="0" name="Metodos_Pago_TB" nillable="true" type="tns:Metodos_Pago_TB" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Citas_TB" nillable="true" type="tns:Citas_TB" />
  <xs:complexType name="ArrayOfAgenda_TB">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Agenda_TB" nillable="true" type="tns:Agenda_TB" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAgenda_TB" nillable="true" type="tns:ArrayOfAgenda_TB" />
  <xs:complexType name="Agenda_TB">
    <xs:sequence>
      <xs:element minOccurs="0" name="Agenda_Cita_ID" type="xs:int" />
      <xs:element minOccurs="0" name="Agenda_Horario_ID" nillable="true" type="xs:short" />
      <xs:element minOccurs="0" name="Agenda_ID" type="xs:int" />
      <xs:element minOccurs="0" name="Citas_TB" nillable="true" type="tns:Citas_TB" />
      <xs:element minOccurs="0" name="Comentarios" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Horarios_TB" nillable="true" type="tns:Horarios_TB" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Agenda_TB" nillable="true" type="tns:Agenda_TB" />
  <xs:complexType name="Horarios_TB">
    <xs:sequence>
      <xs:element minOccurs="0" name="Agenda_TB" nillable="true" type="tns:ArrayOfAgenda_TB" />
      <xs:element minOccurs="0" name="Dia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Disponible" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Hora_Fin" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Hora_Inicio" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Horario_ID" type="xs:short" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Horarios_TB" nillable="true" type="tns:Horarios_TB" />
  <xs:complexType name="Consultorio_TB">
    <xs:sequence>
      <xs:element minOccurs="0" name="Citas_TB" nillable="true" type="tns:ArrayOfCitas_TB" />
      <xs:element minOccurs="0" name="Consultorio_ID" type="xs:short" />
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Consultorio_TB" nillable="true" type="tns:Consultorio_TB" />
  <xs:complexType name="Facturas_TB">
    <xs:sequence>
      <xs:element minOccurs="0" name="Citas_TB" nillable="true" type="tns:ArrayOfCitas_TB" />
      <xs:element minOccurs="0" name="Fact_Metodo_Pago" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Factura_ID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Facturas_TB" nillable="true" type="tns:Facturas_TB" />
  <xs:complexType name="Medicos_Especialidades_TB">
    <xs:sequence>
      <xs:element minOccurs="0" name="Citas_TB" nillable="true" type="tns:ArrayOfCitas_TB" />
      <xs:element minOccurs="0" name="MED_ID" type="xs:int" />
      <xs:element minOccurs="0" name="ME_Especialidad_ID" type="xs:short" />
      <xs:element minOccurs="0" name="ME_Medico_ID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Medicos_Especialidades_TB" nillable="true" type="tns:Medicos_Especialidades_TB" />
  <xs:complexType name="Metodos_Pago_TB">
    <xs:sequence>
      <xs:element minOccurs="0" name="Citas_TB" nillable="true" type="tns:ArrayOfCitas_TB" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MP_ID" type="xs:short" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Metodos_Pago_TB" nillable="true" type="tns:Metodos_Pago_TB" />
  <xs:complexType name="ArrayOfTarjetas_TB">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Tarjetas_TB" nillable="true" type="tns:Tarjetas_TB" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTarjetas_TB" nillable="true" type="tns:ArrayOfTarjetas_TB" />
  <xs:complexType name="Tarjetas_TB">
    <xs:sequence>
      <xs:element minOccurs="0" name="Clientes_TB" nillable="true" type="tns:Clientes_TB" />
      <xs:element minOccurs="0" name="Fecha_Vencimiento" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Numero_Tarjeta" type="xs:int" />
      <xs:element minOccurs="0" name="Tarjeta_Cliente_ID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Tarjetas_TB" nillable="true" type="tns:Tarjetas_TB" />
  <xs:complexType name="ArrayOfEmpleados_TB">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Empleados_TB" nillable="true" type="tns:Empleados_TB" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmpleados_TB" nillable="true" type="tns:ArrayOfEmpleados_TB" />
  <xs:complexType name="Tipos_Perfiles_TB">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tipo_Perfil_ID" type="xs:short" />
      <xs:element minOccurs="0" name="Usuarios_TB" nillable="true" type="tns:ArrayOfUsuarios_TB" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Tipos_Perfiles_TB" nillable="true" type="tns:Tipos_Perfiles_TB" />
  <xs:complexType name="ArrayOfUsuarios_TB">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Usuarios_TB" nillable="true" type="tns:Usuarios_TB" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUsuarios_TB" nillable="true" type="tns:ArrayOfUsuarios_TB" />
  <xs:complexType name="Especialidades_TB">
    <xs:sequence>
      <xs:element minOccurs="0" name="Especialidad_ID" type="xs:short" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Procedimientos_TB" nillable="true" type="tns:ArrayOfProcedimientos_TB" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Especialidades_TB" nillable="true" type="tns:Especialidades_TB" />
  <xs:complexType name="ArrayOfProcedimientos_TB">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Procedimientos_TB" nillable="true" type="tns:Procedimientos_TB" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProcedimientos_TB" nillable="true" type="tns:ArrayOfProcedimientos_TB" />
  <xs:complexType name="Procedimientos_TB">
    <xs:sequence>
      <xs:element minOccurs="0" name="Costo" type="xs:decimal" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Especialidades_TB" nillable="true" type="tns:Especialidades_TB" />
      <xs:element minOccurs="0" name="Procedimiento_Especialidad_ID" type="xs:short" />
      <xs:element minOccurs="0" name="Procedimiento_ID" type="xs:short" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Procedimientos_TB" nillable="true" type="tns:Procedimientos_TB" />
  <xs:complexType name="Padecimientos_TB">
    <xs:sequence>
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Padecimiento_ID" type="xs:short" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Padecimientos_TB" nillable="true" type="tns:Padecimientos_TB" />
  <xs:complexType name="Clientes_Padecimientos_TB">
    <xs:sequence>
      <xs:element minOccurs="0" name="CP_Cliente_ID" type="xs:int" />
      <xs:element minOccurs="0" name="CP_Comentarios" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CP_ID" type="xs:int" />
      <xs:element minOccurs="0" name="CP_Padecimiento_ID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Clientes_Padecimientos_TB" nillable="true" type="tns:Clientes_Padecimientos_TB" />
  <xs:complexType name="ArrayOfTipos_Perfiles_TB">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Tipos_Perfiles_TB" nillable="true" type="tns:Tipos_Perfiles_TB" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTipos_Perfiles_TB" nillable="true" type="tns:ArrayOfTipos_Perfiles_TB" />
  <xs:complexType name="ArrayOfClientes_Padecimientos_TB">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Clientes_Padecimientos_TB" nillable="true" type="tns:Clientes_Padecimientos_TB" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClientes_Padecimientos_TB" nillable="true" type="tns:ArrayOfClientes_Padecimientos_TB" />
  <xs:complexType name="ArrayOfConsultorio_TB">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Consultorio_TB" nillable="true" type="tns:Consultorio_TB" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfConsultorio_TB" nillable="true" type="tns:ArrayOfConsultorio_TB" />
  <xs:complexType name="ArrayOfEspecialidades_TB">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Especialidades_TB" nillable="true" type="tns:Especialidades_TB" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEspecialidades_TB" nillable="true" type="tns:ArrayOfEspecialidades_TB" />
  <xs:complexType name="ArrayOfFacturas_TB">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Facturas_TB" nillable="true" type="tns:Facturas_TB" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFacturas_TB" nillable="true" type="tns:ArrayOfFacturas_TB" />
  <xs:complexType name="ArrayOfHorarios_TB">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Horarios_TB" nillable="true" type="tns:Horarios_TB" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHorarios_TB" nillable="true" type="tns:ArrayOfHorarios_TB" />
  <xs:complexType name="ArrayOfMedicos_Especialidades_TB">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Medicos_Especialidades_TB" nillable="true" type="tns:Medicos_Especialidades_TB" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMedicos_Especialidades_TB" nillable="true" type="tns:ArrayOfMedicos_Especialidades_TB" />
  <xs:complexType name="ArrayOfMetodos_Pago_TB">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Metodos_Pago_TB" nillable="true" type="tns:Metodos_Pago_TB" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMetodos_Pago_TB" nillable="true" type="tns:ArrayOfMetodos_Pago_TB" />
  <xs:complexType name="ArrayOfPadecimientos_TB">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Padecimientos_TB" nillable="true" type="tns:Padecimientos_TB" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPadecimientos_TB" nillable="true" type="tns:ArrayOfPadecimientos_TB" />
</xs:schema>