Site/Connected Services/ClinicaServiceReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/DAL" />
  <xs:element name="CRUD_MEDICOS">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DAL" minOccurs="0" name="medicos" nillable="true" type="q1:Medicos_TB" />
        <xs:element minOccurs="0" name="accion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CRUD_MEDICOSResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CRUD_MEDICOSResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CRUD_ESPECIALIDADES">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DAL" minOccurs="0" name="especialidad" nillable="true" type="q2:Especialidades_TB" />
        <xs:element minOccurs="0" name="accion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CRUD_ESPECIALIDADESResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CRUD_ESPECIALIDADESResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CRUD_MEDICOS_ESPECIALIDADES">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DAL" minOccurs="0" name="medicos_Especialidades" nillable="true" type="q3:Medicos_Especialidades_TB" />
        <xs:element minOccurs="0" name="accion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CRUD_MEDICOS_ESPECIALIDADESResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CRUD_MEDICOS_ESPECIALIDADESResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CRUD_AGENDA">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/DAL" minOccurs="0" name="agenda" nillable="true" type="q4:Agenda_TB" />
        <xs:element minOccurs="0" name="accion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CRUD_AGENDAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CRUD_AGENDAResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CRUD_CITAS">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/DAL" minOccurs="0" name="cita" nillable="true" type="q5:Citas_TB" />
        <xs:element minOccurs="0" name="accion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CRUD_CITASResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CRUD_CITASResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CRUD_CLIENTES">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/DAL" minOccurs="0" name="cliente" nillable="true" type="q6:Clientes_TB" />
        <xs:element minOccurs="0" name="accion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CRUD_CLIENTESResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CRUD_CLIENTESResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CRUD_PADECIMIENTOS">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/DAL" minOccurs="0" name="padecimiento" nillable="true" type="q7:Padecimientos_TB" />
        <xs:element minOccurs="0" name="accion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CRUD_PADECIMIENTOSResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CRUD_PADECIMIENTOSResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CRUD_CLIENTES_PADECIMIENTOS">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/DAL" minOccurs="0" name="clientes_Padecimientos" nillable="true" type="q8:Clientes_Padecimientos_TB" />
        <xs:element minOccurs="0" name="accion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CRUD_CLIENTES_PADECIMIENTOSResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CRUD_CLIENTES_PADECIMIENTOSResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CRUD_CONSULTORIOS">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/DAL" minOccurs="0" name="consultorio" nillable="true" type="q9:Consultorio_TB" />
        <xs:element minOccurs="0" name="accion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CRUD_CONSULTORIOSResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CRUD_CONSULTORIOSResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CRUD_HORARIOS">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/DAL" minOccurs="0" name="horario" nillable="true" type="q10:Horarios_TB" />
        <xs:element minOccurs="0" name="accion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CRUD_HORARIOSResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CRUD_HORARIOSResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CRUD_TARJETAS">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/DAL" minOccurs="0" name="tarjeta" nillable="true" type="q11:Tarjetas_TB" />
        <xs:element minOccurs="0" name="accion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CRUD_TARJETASResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CRUD_TARJETASResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="consultarTiposUsuario">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="consultarTiposUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/DAL" minOccurs="0" name="consultarTiposUsuarioResult" nillable="true" type="q12:ArrayOfTipos_Perfiles_TB" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="consultarAgenda">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="consultarAgendaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/DAL" minOccurs="0" name="consultarAgendaResult" nillable="true" type="q13:ArrayOfAgenda_TB" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="consultarClientesPadecimientos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="consultarClientesPadecimientosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/DAL" minOccurs="0" name="consultarClientesPadecimientosResult" nillable="true" type="q14:ArrayOfClientes_Padecimientos_TB" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="consultarClientes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="consultarClientesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/DAL" minOccurs="0" name="consultarClientesResult" nillable="true" type="q15:ArrayOfClientes_TB" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="consultarConsultorios">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="consultarConsultoriosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/DAL" minOccurs="0" name="consultarConsultoriosResult" nillable="true" type="q16:ArrayOfConsultorio_TB" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="consultarEmpleados">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="consultarEmpleadosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/DAL" minOccurs="0" name="consultarEmpleadosResult" nillable="true" type="q17:ArrayOfEmpleados_TB" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="consultarEspecialidades">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="consultarEspecialidadesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/DAL" minOccurs="0" name="consultarEspecialidadesResult" nillable="true" type="q18:ArrayOfEspecialidades_TB" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="consultarFacturas">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="consultarFacturasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/DAL" minOccurs="0" name="consultarFacturasResult" nillable="true" type="q19:ArrayOfFacturas_TB" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="consultarHorarios">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="consultarHorariosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/DAL" minOccurs="0" name="consultarHorariosResult" nillable="true" type="q20:ArrayOfHorarios_TB" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="consultarMedicosEspecialidades">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="consultarMedicosEspecialidadesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/DAL" minOccurs="0" name="consultarMedicosEspecialidadesResult" nillable="true" type="q21:ArrayOfMedicos_Especialidades_TB" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="consultarMedicos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="consultarMedicosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/DAL" minOccurs="0" name="consultarMedicosResult" nillable="true" type="q22:ArrayOfMedicos_TB" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="consultarMetodosPago">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="consultarMetodosPagoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/DAL" minOccurs="0" name="consultarMetodosPagoResult" nillable="true" type="q23:ArrayOfMetodos_Pago_TB" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="consultarPadecimientos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="consultarPadecimientosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/DAL" minOccurs="0" name="consultarPadecimientosResult" nillable="true" type="q24:ArrayOfPadecimientos_TB" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="consultarProcedimientos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="consultarProcedimientosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/DAL" minOccurs="0" name="consultarProcedimientosResult" nillable="true" type="q25:ArrayOfProcedimientos_TB" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="consultarTarjetas">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="consultarTarjetasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/DAL" minOccurs="0" name="consultarTarjetasResult" nillable="true" type="q26:ArrayOfTarjetas_TB" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="consultarUsuarios">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="consultarUsuariosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/DAL" minOccurs="0" name="consultarUsuariosResult" nillable="true" type="q27:ArrayOfUsuarios_TB" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>